# Depdendencies
node_modules/

# Build
dist/

# Editor
.vscode/
.idea/

# Generated types
.astro/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Local Netlify folder
.netlify/
